{% extends "base.html" %}
{% block content %}

<script>
    let sum = 0;
    let count = 0;
    let num = 0;
</script>
    <h1 class="title">買い物カート商品</h1>

    <div>
        <table class="cart-table table">
            <tr>
                <th>商品情報</th>
                <th>価格</th>
                <th>個数</th>
                <th>小計</th>
                <th></th>
            </tr>
            {% for order in object_list %}
                {% comment %} user情報を引数に保持 {% endcomment %}
                <script>
                    sum += {{ order.goods_id.price }} * {{ order.goods_number }};
                    count += {{ order.goods_number }};
                    {% comment %} console.log(sum); {% endcomment %}
                </script>
                <div>
                    <tr>
                        <td class="cart-container">
                            <img src="{{ order.goods_id.picture.url }}" alt="{{ order.goods_id.goods_name }}" class="cart-img">
                            <div class="cart-info">
                                <h3>{{ order.goods_id }}</h3><br>
                                <p>{{ order.goods_id.shops_id }}</p>
                            </div>
                            {% comment %} <form action="{% url 'shopping_app:delete' user %}" method="post"> {% endcomment %}
                                {% comment %} {% csrf_token %} {% endcomment %}
                            {% comment %} </form> {% endcomment %}
                        </td>
                        <td><p>{{ order.goods_id.price }}円</p></td>
                        <td><p>{{ order.goods_number }}個</p></td>
                        
                        <td class="small-sum">
                            <p>{% widthratio order.goods_id.price 1 order.goods_number %}円</p>
                        </td>
                        <form action="{% url 'shopping_app:delcart' user order.goods_id %}" method="post">
                            {% csrf_token %}
                            <td><button type="submit" class="btn btn-danger cart-del">削除</button></td>
                        </form>
                    </tr>
                </div>
                <br>
                {{ recerived_string }}
            {% endfor %}
        </table>
        <br>
        <div class="cart-sum">
            <h4 id="count"></h4>
            <h4 id="sum"></h4>
        </div>
        <br>
        {% if object_list %}
            <a href="{% url 'shopping_app:buy' user %}" class="btn btn-primary">購入手続きへ</a>
        {% endif %}
    </div>
    <script>
        document.getElementById('count').textContent = `カートに入っている商品:${count}点`;
        document.getElementById('sum').textContent = `合計:${sum}円`;
    </script>
{% endblock %}
