{% extends "base.html" %}
{% block content %}
    
    <div style="display: flex;">
        <img src="{{ goods.picture.url }}" alt="{{ goods.goods_name }}" class="detail-img">

        <div class="detail-item">
            <h3>{{ goods.goods_name }}</h3>
            <h4>￥{{ goods.price }}</h4>
            <p>{{ goods.number }}個</p>
            
            <p>説明：{{ goods.description }}</p>
            <p>{{ goods.shops_id }}</p>

            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    {% comment %} 管理者なら {% endcomment %}
                    <p style="margin-top: 20px;"><a href="{% url "shopping_app:update" goods.goods_id %}" class="btn" style="background-color: #6393c2ff;">編集</a>
                    <a href="{% url "shopping_app:delete" goods.goods_id %}" class="btn" style="background-color: #c4594eff;">削除</a></p>
                {% else %}
                    <form action="{% url 'shopping_app:cart' user %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="goods_id" value="{{ goods.goods_id }}">
                        <button type="submit" class="btn btn-primary">買い物カートに入れる</button>
                    </form>
                {% endif %}
            {% else %}
                <p>ログインしていません。<a href="{% url 'login' %}">ログイン</a>してください。</p>
            {% endif %}
        </div>
    </div>

    <p><a href="{% url 'shopping_app:shopping' %}" class="btn back-index">一覧ページへ戻る</a></p>
    
{% endblock %}
