{% extends "base.html" %}
{% block content %}

    <h1 class="title">商品一覧</h1>
    {% comment %} 条件で絞り込む（値段と店名） {% endcomment %}
        <form method="get" action="" style="margin: 20px 0; display: flex; gap: 10px; align-items: center;">
            <label for="order" class="selectbox">値段順:
                <select name="order" id="order">
                    <option value="">選択しない</option>
                    <option value="asc">昇順</option>
                    <option value="desc">降順</option>
                </select>
            </label>
            <label for="shop_name" class="selectbox">店名:
                <select name="shop_name" id="shop_name">
                    <option value="">選択しない</option>
                    {% for shop in shops %}
                        <option value="{{ shop.shop_name }}">{{ shop.shop_name }}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="submit" class="btn" style="margin: 0px; background-color: #B4CCE3; color: #000;">絞り込み</button>
        </form>
        
        <div class="container-view">
        {% for goods in object_list %}
            <div class="container-md">
                <img src="./../media/{{ goods.picture }}" width="200" height="200"
                ></img>
                <h5><a class="goods-name" href="{% url 'shopping_app:detail' goods.goods_id %}">{{ goods.goods_name }}</a></h5><br>
                <h6>￥{{ goods.price }}</h6>
                <p>{{ goods.description }}</p>
                <p>{{ goods.shops_id.shop_name }}</p>
            </div>
        {% endfor %}
        </div>
    <br>
    {% comment %} ページ数 {% endcomment %}
    {% comment %} <ol class="pagination-1">
        <li class="prev"><a href="#"><</a></li>
        <li><a href="#">1</a></li>
        <li class="current"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="next"><a href="#">></a></li>
    </ol> {% endcomment %}
    {% if user.is_staff %}
        <a href="/create" class="btn btn-primary">商品を追加</a>
        {% comment %} <a href="/create" class=>商品を追加</a> {% endcomment %}
    {% endif %}

{% endblock %}
