<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'shopping_app:search' %}" method="get">
        {% comment %} {{ searchform.words }} {% endcomment %}
        <input type="search" placeholder="キーワードを入力" name="words" aria-label="search">
        <button type="submit">検索</button>
    </form>

    <h1>商品一覧</h1>
    {% for goods in object_list %}
        <div>
            <p><a href="{% url 'shopping_app:detail' goods.goods_id %}">{{ goods.goods_name }}</a></p>
            <p>{{ goods.price }}円</p>
            <p>{{ goods.description }}</p>
            <p>{{ shops.shop_name }}</p>
            <img src="./../media/{{ goods.picture }}" width="200" height="200"></img>
        </div>
    {% endfor %}
    <br>
    <a href="/create">商品を追加</a>
</body>
</html>

KblTGyaNxWoml0qwLErUXzLYj88GLKcFkNcBcqkvSXSAIztmDikYLlbsAUnEC5kQ
